@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}