@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sherpa';
    src: url('../fonts/Sherpa/Sherpa-VF.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RecklessNueue';
    src: url('../fonts/RecklessNueue/RecklessNeue-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque/LabGrotesque-Lt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LabGrotesque-Mono';
    src: url('../fonts/LabGrotesque/LabGrotesqueMono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GochiHand';
    src: url('../fonts/GochiHand.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* font-title */
@font-face {
    font-family: 'Integral';
    src: url('../fonts/integral.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}