@import "tailwindcss";

@font-face {
    font-family: "Sherpa";
    src: url('../fonts/Sherpa/Sherpa.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-sans: "Sherpa", sans-serif;
    --color-brand-pink: #be185d;
    --color-brand-orange: #fdba74;
}